/* My Own specify */


/* General */

/*        Navigation Bar        */

/* navigation bar color */
/* for customize can use the following website */
/* http://work.smarchal.com/twbscolor */

.navbar{
  margin-bottom: 0px;
  border: 0 none;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  font-size: 14px;
}
.navbar-brand img {
  width: 130px;
}
.navbar-nav > li > a {
  margin: 12px 3px 5px 0px;
  padding: 8px 7px 5px 7px;
  text-align: center;
  min-width: 70px;
}
.navbar-default:not(.navbar-transparent) {
  background-color: rgba(255, 255, 255, 0.96);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar-transparent {
  background-color: rgba(0,0,0,.0);
}
.navbar-transparent .navbar-brand,
.navbar-purple .navbar-brand {
  color: #FFFFFF;
  opacity: 0.95;
}
.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #5E5E5E;
}
.navbar-transparent .nav .caret {
  border-bottom-color: #FFFFFF;
  border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > li > a,
.navbar-purple .navbar-nav > li > a {
  color: #FFFFFF;
  border-color: #FFFFFF;
  text-align: center;
}
.navbar-transparent .navbar-nav > li > a {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}
.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:focus, 
.navbar-purple .navbar-brand:hover, 
.navbar-purple .navbar-brand:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: rgba(43, 43, 43, 0.1);
  border-radius: 4px;
  color: #555555;
  opacity: 1;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-bottom-color: #2C93FF;
  border-top-color: #2C93FF;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: rgba(255, 255, 255, 0);
  color: #2C93FF;
}
.navbar-transparent .navbar-nav > .active > a,
.navbar-transparent .navbar-nav > .active > a:hover,
.navbar-transparent .navbar-nav > .active > a:focus,
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-purple .navbar-nav > .active > a,
.navbar-purple .navbar-nav > .active > a:hover,
.navbar-purple .navbar-nav > .active > a:focus,
.navbar-purple .navbar-nav > li > a:hover,
.navbar-purple .navbar-nav > li > a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: #FFFFFF;
  opacity: 1;
}
.navbar-transparent .navbar-nav > .dropdown > a .caret,
.navbar-purple .navbar-nav > .dropdown > a .caret {
  border-bottom-color: #FFFFFF;
  border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > .dropdown > a:hover .caret,
.navbar-transparent .navbar-nav > .dropdown > a:focus .caret {
  border-bottom-color: #FFFFFF;
  border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  background-color: rgba(255, 255, 255, 0);
  color: #FFFFFF;
  opacity: 1;
}
.navbar .label{
  background-color: #FF4C40;
  position: absolute;
  right: -10px;
  top: 0px;
  font-size: 10px;
  font-family: "Helvetica Neue";
  text-shadow: none;
}
.navbar-purple .label {
  background-color: #FFFFFF;
  color: #FF4C40;
}
.navbar:not(.navbar-transparent).navbar-purple {
  background-color: #4B2E83;
}
.dropdown-menu > li > a {
  padding: 8px 20px;
  color: #333333;
}
.dropdown-menu > li:first-child > a{
  border-radius: 10px 10px 0 0;
}
.dropdown-menu > li:last-child > a{
  border-bottom: 0 none;
  border-radius: 0 0 10px 10px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #F5F5F5;
  color: #333333;
  opacity: 1;
  text-decoration: none;
}
.navbar-toggle {
  border: 0;
}
.navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-collapse, .navbar-form {
  border-color: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgba(0,0,0,0);
}


/* headers */

/* defualt header */
.profile-header {
  position: relative;
  display: table;
  width: 100%;
  height: 350px;
  padding-bottom: 48px;
  margin-bottom: 0;
  text-align: center;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  border: 0;
}
.profile-header .container-fluid {
  display: table-cell;
  width: 1000000px;
  text-align: center;
  vertical-align: middle;
}
.profile-header .container-inner {
  max-width: 540px;
  margin: 0 auto;
  margin-top: 100px;
}
.profile-header .avatar {
  display: inline-block;
  width: 120px;
  margin-right: 0;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.profile-header-user {
  font-size: 16px;
  color: #fff;
}
.profile-header-bio {
  margin-top: 20px;
  color: #fff;
}

/* header social links */
.profile-header .social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
.profile-header .social > li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}
.profile-header .social > li > a {
  color: #fff;
  padding: 0 5px 0 5px;
}
.profile-header .social > li > a:hover,
.profile-header .social > li > a:focus {
  color: #18bc9c;
}

/* Open-Source header */
.os-header {
  width: 100%;
  background-color: #fafafa;
  border: 0;
  height: 280px;
}
  .os-header .text {
    text-align: left;
    width: 60%;
    float: left;
    color: #525252;
  }
  .os-header h1 {
    font-size: 60px;
  }
  .os-header p {
    font-size: 24px;
  }
  .os-header .chrome {
    overflow: hidden;
    padding-top: 50px;
  }
    .os-header .chrome img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

/* Panels */

.panel {
  position: relative;
  padding: 0 20px;
}
.panel.dark {
  background-color: #f0f2f1;
}
.panel .container h1 {
  text-align:left;
  font-size: 45px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f0f2f1;
}
.panel .container p {
  font-size: 14px;
  color: black;
}

/* news section*/
.panel.announcements {
  /*display: table;
  table-layout: fixed;
  height: 30vh;
  min-height: 500px;*/
  margin: 0 0 -100px 0;
  /*width: 100%;*/
}
  .panel.announcements h1 {
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    font-size: 56px;
    font-weight: 400;
    color: #525252; 
  }
  .panel.announcements .browser-window {
    display: block;
    margin: 2em auto 15px;
    width: auto;
    max-width: 800px;
  }
.announcement {
  width:90%;
  margin-left:auto;
  margin-right:auto;
  display: none;  /* Hide on load */
}
  .announcement .pager > li > a{
    color: #3A2E83 !important;
  }
.announcement-btn-older:hover, 
.announcement-btn-newer:hover {
  cursor: pointer;
}

/* Features section */
.panel.features {
  padding: auto;
}
  .panel.features > p {
    font-size: 14px;
    color: #80878c;
  }
  .panel.features .blocks {
    max-width: 1100px;
    background: #fff;
    margin: 50px auto;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }
    .panel.features .blocks .block {
      border-bottom: 1px solid #dbdcdb;
      height: 265px;
      overflow: hidden;
    }
    .panel.features .blocks .block-lg {
      height: 500px !important;
    }
      .panel.features .blocks .block:after {
        content: "";
        display: table;
        clear: both;
      }
      .panel.features .blocks .block .text {
        padding: 20px;
        width: 60%;
        float: left;
      }
        .panel.features .blocks .block .text h2 {
          font-family: 'Medula One', cursive;
          font-size: 40px;
          font-weight: 400;
          color: #525252; 
        }
        .panel.features .blocks .block .text a,
        .panel.features .blocks .block .text a:active, 
        .panel.features .blocks .block .text a:visited {
          border-bottom: dashed 1px #ccc;
          text-decoration: none;
          color: #4B2E83;
        }
        .panel.features .blocks .block .text a:hover {
          border-bottom: solid 1px #4B2E83;
          color: #4B2E83;
          text-decoration: none;
        }
      .panel.features .blocks .block .media {
        float: right;
        padding-top: 20px;
        width: 40%;
        overflow: hidden;
      }
        .panel.features .blocks .block .media .browser-window {
          width: 600px;
        }
      .panel.features .blocks .block.odd .text {
        padding: 20px 60px;
      }
      .panel.features .blocks .block.even .text {
        float: right;
      }
      .panel.features .blocks .block.even .media {
        float: left;
      }
        .panel.features .blocks .block.even .media .terminal-window {
          float: left;
          margin-left: -5px;
          width: 360px;
        }
        .panel.features .blocks .block-lg.even .media .terminal-window {
          height: 600px;
        }
          .panel.features .blocks .block.even .media .terminal-window pre[class*="language-"] {
            border-radius: 0;
            margin-top: 0;
          }

/* Skills section */

.panel.skills {

}
.panel.skills h1 {
  text-align: center;
  font-family: 'Cantarell', sans-serif;
  font-size: 56px;
  font-weight: 400;
  color: #525252; 
}

/* browser-window */
.panel .browser-window,
.panel .terminal-window {
  overflow: hidden;
}
  .panel .browser-window pre[class*="language-"],
  .panel .browser-window .window-content,
  .panel .terminal-window pre[class*="language-"],
  .panel .terminal-window .window-content {
    overflow: hidden;
  }

.browser-window,
.terminal-window {
  text-align: left;
  margin: 0px 20px;
  width: 602px;
  height: 355px;
  display: inline-block;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  overflow: overlay;
}
  .browser-window .top-bar,
  .terminal-window .top-bar {
    height: 30px;
    border-radius: 4px 4px 0 0;
    border-top: thin solid #eaeae9;
    border-bottom: thin solid #dfdfde;
    background: #ebebeb;
  }
  .browser-window .top-bar i,
  .terminal-window .top-bar i {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    float: left;
    margin: 9px;
    margin-right: 0;
  }
  .browser-window .top-bar i.red,
  .terminal-window .top-bar i.red {
    background-color: #ff5f57;
  }
  .browser-window .top-bar i.yellow,
  .terminal-window .top-bar i.yellow {
    background-color: #ffbd2e;
  }
  .browser-window .top-bar i.green,
  .terminal-window .top-bar i.green {
    background-color: #2ace42;
  }
  .browser-window .top-bar i.half-yellow,
  .terminal-window .top-bar i.half-yellow {
    margin-left: -1px;
    background-color: #ffbd2e;
  }
  .browser-window .top-bar span {
    text-align: center;
    max-width: 150px;
    margin: auto;
    display: block;
    font-family: Menlo;
    margin-top: 6px;
    font-size: 12px;
    color: #999;
  }
  .browser-window .window-content,
  .terminal-window .window-content {
    margin: 0;
    width: 100%;
    min-height: 90%;
    display: inline-block;
    border-radius: 0 0 4px 4px;
  }

.browser-window .window-content pre[class*="language-"] {
  background: #fff;
  margin: 0;
}

/* ul cards */
ul.education,
ul.interests,
ul.collaborators {
    padding: 0;
    margin: 0;
    list-style: none;
}
  ul.education li {
      position: relative;
      padding: 50px 15px 20px 15px;
      background-color: #fdfdfd;
      margin-bottom: 15px;
      -webkit-box-shadow: 0px 3px 3px -3px #ccc;
      box-shadow: 0px 3px 3px -3px #ccc;
      border-radius: 3px;
      margin-left: 10px;
      color: #333;
  }
    ul.education li .degree-year {
        position: absolute;
        top: 15px;
        left:-8px;
        border-radius: 3px;
        padding: 0;
        color: white;
    }
      ul.education li .degree-year span {
          padding: 7px 10px;
          line-height: 30px;
          margin: 0;
      }
      ul.education li .degree-year .degree {
          background-color: #8e44ad;
      }
      ul.education li .degree-year .year {
          background-color: #9b59b6;
          -webkit-box-shadow: -3px 0px 7px -3px rgba(68, 68, 68, 0.5);
          box-shadow: -3px 0px 7px -3px rgba(68, 68, 68, 0.5);
          margin-left: -2px !important;
      }
    ul.education li .description p {
      font-size: 16px;
      margin: 0;
    }
    ul.education li .description p.where {
      font-weight: 300;
      font-size: 14px;
    }
ul.interests li,
ul.collaborators li {
  padding: 7px;
  background-color: #fdfdfd;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 3px 3px -3px #ccc;
  box-shadow: 0px 3px 3px -3px #ccc;
  border-radius: 2px;
  border-left: 5px solid;
  border-left-color: #9b59b6;
}
  ul.collaborators a,
  ul.collaborators a:active, 
  ul.collaborators a:visited {
    border-bottom: dashed 1px #ccc;
    text-decoration: none;
    color: #4B2E83;
  }
  ul.collaborators a:hover {
    border-bottom: solid 1px #4B2E83;
    color: #4B2E83;
    text-decoration: none;
  }

/* entire container, keeps perspective */
.card-container {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  margin-bottom: 30px;
}
/* flip the pane when hovered */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}
.card-container.static:hover .card, 
.card-container.static.hover .card {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}
/* flip speed goes here */
.card {
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
/* hide back of pane during swap */
.front,
.back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}
/* front pane, placed above back */
.front {
  z-index: 2;
}
/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
  z-index: 3;
}
/*        Style       */
.card {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 4px;
  color: #444444;
}
.card-container,
.front,
.back {
  width: 100%;
  height: 245px;
  border-radius: 4px;
}
.card .cover{
  height: 215px;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}
.card .cover img{
  width: 100%;
}
.card .user {
  border-radius: 50%;
  display: block;
  height: 120px;
  margin: 60px auto;
  overflow: hidden;
  width: 120px;
}
.card .user img {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 4px solid #FFFFFF;
  width: 100%;
}
.card .back .browser-window {
  display: block;
  margin: 0vh auto;
  width: 100%;
  height: 100%;
}

/* footer */
footer.author {
    background: #fafafa;
    padding: 35px 20px;
    text-align: center;
}


/* side bar*/

#sidebar.affix {
  top: 20px;
}
/* sidebar */
.docs-sidebar {
  border-right: 1px solid #f0f2f1;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* all links */
.docs-sidebar .nav > li > a {
  color: #999;
  padding: 4px 10px;
  font-size: 13px;
  font-weight: 400;
}
/* nested links */
.docs-sidebar .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}
/* active & hover links */
.docs-sidebar .nav > .active > a,
.docs-sidebar .nav > li > a:hover, 
.docs-sidebar .nav > li > a:focus {
  color: #563d7c;                 
  text-decoration: none;          
  background-color: transparent;  
  border-left-color: #563d7c; 
}
/* all active links */
.docs-sidebar .nav > .active > a, 
.docs-sidebar .nav > .active :hover > a,
.docs-sidebar .nav > .active :focus > a {
  font-weight: 700;
}
/* nested active links */
.docs-sidebar .nav .nav > .active > a, 
.docs-sidebar .nav .nav > .active:hover > a,
.docs-sidebar .nav .nav > .active:focus > a {
  font-weight: 500;
}
/* hide inactive nested list */
.docs-sidebar .nav ul.nav {
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
  display: none;
}
/* show active nested list */
.docs-sidebar .nav > .active > ul.nav {
  display: block;
}
/* anchorjs */
.anchorjs-link {
  color: #ff5231;

  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color .5s linear;
}

/* project buttons */
.btn-project,
.btn-project:visited{
  color: #9b59b6;
  background: white;
  border: 1px solid #9b59b6;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn-project:hover,
.btn-project:active, .btn-project:focus{
  color: #4B2E83;
  background-color: white;
  border: 1px solid #4B2E83;
}

.btn-round,
.btn-round:active,
.btn-round:visited {
  font-family: 'Roboto', Geneva, Verdana, sans-serif;
  margin: 10px;
  padding: 5px 15px;
  border-radius: 15px;
  border-style: solid;
}