/* My Own specify */


/* General */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.profile-header {
  position: relative;
  display: table;
  width: 100%;
  height: 540px;
  padding-bottom: 48px;
  margin-bottom: 0;
  text-align: center;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
  border: 0;
}
.profile-header .container-fluid {
  display: table-cell;
  width: 1000000px;
  text-align: center;
  vertical-align: middle;
}

.profile-header .container-inner {
  max-width: 540px;
  margin: 0 auto;
  margin-top: 100px;
}
.profile-header .avatar {
  display: inline-block;
  width: 120px;
  margin-right: 0;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.profile-header-user {
  font-size: 16px;
  color: #fff;
}
.profile-header-bio {
  margin-top: 20px;
  color: #fff;
}
@media (min-width: 480px) {
  .profile-header {
    height: 400px;
  }
}
@media (min-width: 768px) {
  .profile-header {
    height: 500px;
  }
  .profile-header .avatar {
    width: 150px;
  }
}

.text-center {
    text-align: center;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container-fluid {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-fluid {
    width: 990px;
  }
}
@media (min-width: 1260px) {
  .container-fluid {
    width: 1230px;
  }
}

/* header social links */
.profile-header .social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
.profile-header .social > li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}
.profile-header .social > li > a {
  color: #fff;
  padding: 0 5px 0 5px;
}
.profile-header .social > li > a:hover,
.profile-header .social > li > a:focus {
  color: #18bc9c;
}


/*        Navigation Bar        */

/* navigation bar color */
/* for customize can use the following website */
/* http://work.smarchal.com/twbscolor */

.navbar{
  border: 0 none;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  font-size: 14px;
}
.navbar-brand img {
  width: 130px;
}
.navbar-nav > li > a {
  margin: 12px 3px 5px 0px;
  padding: 8px 7px 5px 7px;
  text-align: center;
  min-width: 70px;
}

.navbar-default:not(.navbar-transparent) {
  background-color: rgba(255, 255, 255, 0.96);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar-transparent {
  padding-top: 15px;
  background-color: rgba(0,0,0,.0);
}
.navbar-transparent .navbar-brand,
.navbar-purple .navbar-brand {
  color: #FFFFFF;
  opacity: 0.95;
}
.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #5E5E5E;
}
.navbar-transparent .nav .caret {
  border-bottom-color: #FFFFFF;
  border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > li > a,
.navbar-purple .navbar-nav > li > a {
  color: #FFFFFF;
  border-color: #FFFFFF;
  text-align: center;
}
.navbar-transparent .navbar-nav > li > a {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}
.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:focus, 
.navbar-purple .navbar-brand:hover, 
.navbar-purple .navbar-brand:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: rgba(43, 43, 43, 0.1);
  border-radius: 4px;
  color: #555555;
  opacity: 1;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-bottom-color: #2C93FF;
  border-top-color: #2C93FF;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: rgba(255, 255, 255, 0);
  color: #2C93FF;
}
.navbar-transparent .navbar-nav > .active > a,
.navbar-transparent .navbar-nav > .active > a:hover,
.navbar-transparent .navbar-nav > .active > a:focus,
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-purple .navbar-nav > .active > a,
.navbar-purple .navbar-nav > .active > a:hover,
.navbar-purple .navbar-nav > .active > a:focus,
.navbar-purple .navbar-nav > li > a:hover,
.navbar-purple .navbar-nav > li > a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: #FFFFFF;
  opacity: 1;
}
.navbar-transparent .navbar-nav > .dropdown > a .caret,
.navbar-purple .navbar-nav > .dropdown > a .caret {
  border-bottom-color: #FFFFFF;
  border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > .dropdown > a:hover .caret,
.navbar-transparent .navbar-nav > .dropdown > a:focus .caret {
  border-bottom-color: #FFFFFF;
  border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  background-color: rgba(255, 255, 255, 0);
  color: #FFFFFF;
  opacity: 1;
}
.navbar .label{
  background-color: #FF4C40;
  position: absolute;
  right: -10px;
  top: 0px;
  font-size: 10px;
  font-family: "Helvetica Neue";
  text-shadow: none;
}
.navbar-purple .label {
  background-color: #FFFFFF;
  color: #FF4C40;
}

.navbar:not(.navbar-transparent).navbar-purple {
  background-color: #4B2E83;
}

.dropdown-menu > li > a {
  padding: 8px 20px;
  color: #333333;
}
.dropdown-menu > li:first-child > a{
  border-radius: 10px 10px 0 0;
}
.dropdown-menu > li:last-child > a{
  border-bottom: 0 none;
  border-radius: 0 0 10px 10px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #F5F5F5;
  color: #333333;
  opacity: 1;
  text-decoration: none;
}
.navbar-toggle {
  border: 0;
}
.navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-collapse, .navbar-form {
  border-color: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgba(0,0,0,0);
}
@media (min-width: 768px) {
  .navbar-nav > li > .dropdown-menu {
    display: block;
    padding: 0;
    z-index: 9000;
    position: absolute;
    -webkit-border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    -webkit-filter: alpha(opacity=0);
    -moz-filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  }
  
  .navbar-nav > li.open > .dropdown-menu {
    -webkit-transform-origin: 29px -50px;
    -moz-transform-origin: 29px -50px;
    -o-transform-origin: 29px -50px;
    -ms-transform-origin: 29px -50px;
    transform-origin: 29px -50px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
  }
  
  .dropdown-menu:before {
    border-bottom: 11px solid rgba(0, 0, 0, 0.2);
    border-left: 11px solid rgba(0, 0, 0, 0);
    border-right: 11px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    right: 15px;
    top: -11px;
  }
  
  .dropdown-menu:after {
    border-bottom: 11px solid #FFFFFF;
    border-left: 11px solid rgba(0, 0, 0, 0);
    border-right: 11px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    right: 15px;
    top: -10px;
  }
  
}

@media (max-width: 768px) { 
  .navbar-transparent {
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.45);
  }
  .navbar-transparent .navbar-nav .open .dropdown-menu > li > a:hover, 
  .navbar-transparent .navbar-nav .open .dropdown-menu > li > a:focus, 
  .navbar-transparent .dropdown-menu > li > a:hover,
  .navbar-transparent .dropdown-menu > li > a:focus,
  .navbar-purple .dropdown-menu > li > a:hover,
  .navbar-purple .dropdown-menu > li > a:focus {
    color: #FFFFFF;
    background-color: rgba(0,0,0,0);
    opacity: 1;
  }
  .navbar-transparent .navbar-nav .open .dropdown-menu > li > a,
  .navbar-purple .dropdown-menu > li > a {
    color: #FFFFFF;
    opacity: 0.8;
  }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: rgba(0,0,0,0);
    border-color: #428BCA;
  }
  .navbar-collapse{
    text-align: center;
  }
  .navbar-collapse .navbar-form {
    width: 170px;
    margin: 0 auto;
  }
}







.panel {
  position: relative;
  padding: 0 20px;
}
.panel h1 {
  text-align: center;
}
.panel p {
  font-size: 21px;
  color: #aeaeae;
}
.panel.dark {
  background-color: #f0f2f1;
}

.panel.statement {
  display: table;
  table-layout: fixed;
  height: 100vh;
  min-height: 900px;
  margin: 0 0 -100px 0;
  width: 100%;
  text-align: center;
}
.panel.statement .content {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding-bottom: 150px;
}
.panel.statement h1 {
  font-size: 56px;
}
.panel.statement h1 + p {
  font-size: 28px;
  font-weight: 100;
  -webkit-font-smoothing: subpixel-antialiased;
}
.panel.statement p.caption {
  color: #525252;
  font-size: 18px;
}
.panel.statement .browser-window {
  display: block;
  margin: 8vh auto 15px;
}
.panel.features {
  padding: auto;
}
  .panel.features > h1,
  .panel.features > p {
    margin: 0 0 20px 0;
    text-align: center;
  }
  .panel.features .blocks {
    max-width: 1100px;
    background: #fff;
    margin: 50px auto;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }
    .panel.features .blocks .block {
      border-bottom: 1px solid #dbdcdb;
      height: 265px;
      overflow: hidden;
    }
      .panel.features .blocks .block:after {
        content: "";
        display: table;
        clear: both;
      }
      .panel.features .blocks .block .text {
        padding: 20px;
        width: 60%;
        float: left;
      }
        .panel.features .blocks .block .text h2 {
          font-family: 'Medula One', cursive;
          font-size: 40px;
          font-weight: 400;
          color: #6f5499; 
        }
        .panel.features .blocks .block .text a,
        .panel.features .blocks .block .text a:active, 
        .panel.features .blocks .block .text a:visited {
          border-bottom: dashed 1px #ccc;
          text-decoration: none;
          color: #4B2E83;
        }
        .panel.features .blocks .block .text a:hover {
          /* red */
          border-bottom: solid 1px #4B2E83;
          color: #4B2E83;
          text-decoration: none;
        }
      .panel.features .blocks .block .media {
        float: right;
        padding-top: 20px;
        width: 40%;
        overflow: hidden;
      }
        .panel.features .blocks .block .media .browser-window {
          width: 600px;
        }
      .panel.features .blocks .block.odd .text {
        padding: 20px 60px;
      }
      .panel.features .blocks .block.even .text {
        float: right;
      }
      .panel.features .blocks .block.even .media {
        float: left;
      }
        .panel.features .blocks .block.even .media .terminal-window {
          float: left;
          margin-left: -5px;
          width: 360px;
        }
          .panel.features .blocks .block.even .media .terminal-window pre[class*="language-"] {
            border-radius: 0;
            margin-top: 0;
          }
      .panel.features .blocks .block p {
        font-size: 14px;
        color: #80878c;
      }
.panel .browser-window,
.panel .terminal-window {
  overflow: hidden;
}
  .panel .browser-window pre[class*="language-"], .panel .browser-window .window-content,
  .panel .terminal-window pre[class*="language-"],
  .panel .terminal-window .window-content {
    overflow: hidden;
  }

@media (max-width: 980px) {
  .panel.features {
    padding: 75px 0;
  }
}

@media (max-width: 760px) {
  .panel.statement h1 {
    font-size: 42px;
    line-height: 1.2;
  }
    .panel.statement h1 + p {
      font-size: 21px;
    }
  .panel.features .blocks .block .text {
    padding: 15px;
  }
    .panel.features .blocks .block .text p {
      margin-bottom: 0;
    }
}

@media (max-width: 620px) {
  .panel.statement .browser-window {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .panel.features .blocks .block {
    height: 410px;
  }
    .panel.features .blocks .block .text {
      width: 100%;
      float: none !important;
      display: block;
      padding: 5%;
    }
    .panel.features .blocks .block .media {
      float: none !important;
      display: block;
      width: 100%;
    }
      .panel.features .blocks .block .media .terminal-window,
      .panel.features .blocks .block .media .browser-window {
        width: 90% !important;
        margin: 0 5% !important;
        float: none !important;
      }
}

.browser-window,
.terminal-window {
  text-align: left;
  margin: 0px 20px;
  width: 602px;
  height: 355px;
  display: inline-block;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  overflow: overlay;
}
  .browser-window .top-bar,
  .terminal-window .top-bar {
    height: 30px;
    border-radius: 4px 4px 0 0;
    border-top: thin solid #eaeae9;
    border-bottom: thin solid #dfdfde;
    background: #ebebeb;
  }
  .browser-window .circle,
  .terminal-window .circle {
    height: 8px;
    width: 8px;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
  }
  .browser-window .circles,
  .terminal-window .circles {
    margin: 1px 10px;
  }
  .browser-window .circle-red {
    height: 8px;
    width: 8px;
    display: inline-block;
    border-radius: 50%;
    background-color: #ff6059;
  }
  .browser-window .circle-yellow {
    height: 8px;
    width: 8px;
    display: inline-block;
    border-radius: 50%;
    background-color: #ffbd2e;
  }
  .browser-window .circle-green {
    height: 8px;
    width: 8px;
    display: inline-block;
    border-radius: 50%;
    background-color: #28c941;
  }
  .browser-window .window-content,
  .terminal-window .window-content {
    margin: 0;
    width: 100%;
    min-height: 90%;
    display: inline-block;
    border-radius: 0 0 4px 4px;
  }

.browser-window .window-content pre[class*="language-"] {
  background: #fff;
  margin: 0;
}




