/* My Own specify */
/* General */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.profile-header {
  position: relative;
  display: table;
  width: 100%;
  height: 540px;
  padding-bottom: 48px;
  margin-bottom: 0;
  text-align: center;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  border: 0;
}
.profile-header .container-fluid {
  display: table-cell;
  width: 1000000px;
  text-align: center;
  vertical-align: middle;
}

.profile-header .container-inner {
  max-width: 540px;
  margin: 0 auto;
  margin-top: 100px;
}
.profile-header .avatar {
  display: inline-block;
  width: 120px;
  margin-right: 0;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.profile-header-user {
  font-size: 16px;
  color: #fff;
}
.profile-header-bio {
  margin-top: 20px;
  color: #fff;
}
@media (min-width: 480px) {
  .profile-header {
    height: 400px;
  }
}
@media (min-width: 768px) {
  .profile-header {
    height: 500px;
  }
  .profile-header .avatar {
    width: 150px;
  }
}

.text-center {
    text-align: center;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container-fluid {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-fluid {
    width: 990px;
  }
}
@media (min-width: 1260px) {
  .container-fluid {
    width: 1230px;
  }
}

/* header social links */
.profile-header .social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
.profile-header .social > li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}
.profile-header .social > li > a {
  color: #fff;
  padding: 0 5px 0 5px;
}
.profile-header .social > li > a:hover,
.profile-header .social > li > a:focus {
  color: #18bc9c;
}


/*        Navigation Bar        */

/* navigation bar color */
/* for customize can use the following website */
/* http://work.smarchal.com/twbscolor */

.navbar{
  border: 0 none;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  font-size: 14px;
}
.navbar-brand img {
  width: 130px;
}
.navbar-nav > li > a {
  margin: 12px 3px 5px 0px;
  padding: 8px 7px 5px 7px;
  text-align: center;
  min-width: 70px;
}

.navbar-default:not(.navbar-transparent) {
  background-color: rgba(255, 255, 255, 0.96);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar-transparent {
  padding-top: 15px;
  background-color: rgba(0,0,0,.0);
}
.navbar-transparent .navbar-brand,
.navbar-purple .navbar-brand {
  color: #FFFFFF;
  opacity: 0.95;
}
.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #5E5E5E;
}
.navbar-transparent .nav .caret {
  border-bottom-color: #FFFFFF;
  border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > li > a,
.navbar-purple .navbar-nav > li > a {
  color: #FFFFFF;
  border-color: #FFFFFF;
  text-align: center;
}
.navbar-transparent .navbar-nav > li > a {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}
.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:focus, 
.navbar-purple .navbar-brand:hover, 
.navbar-purple .navbar-brand:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: rgba(43, 43, 43, 0.1);
  border-radius: 4px;
  color: #555555;
  opacity: 1;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-bottom-color: #2C93FF;
  border-top-color: #2C93FF;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: rgba(255, 255, 255, 0);
  color: #2C93FF;
}
.navbar-transparent .navbar-nav > .active > a,
.navbar-transparent .navbar-nav > .active > a:hover,
.navbar-transparent .navbar-nav > .active > a:focus,
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-purple .navbar-nav > .active > a,
.navbar-purple .navbar-nav > .active > a:hover,
.navbar-purple .navbar-nav > .active > a:focus,
.navbar-purple .navbar-nav > li > a:hover,
.navbar-purple .navbar-nav > li > a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: #FFFFFF;
  opacity: 1;
}
.navbar-transparent .navbar-nav > .dropdown > a .caret,
.navbar-purple .navbar-nav > .dropdown > a .caret {
  border-bottom-color: #FFFFFF;
  border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > .dropdown > a:hover .caret,
.navbar-transparent .navbar-nav > .dropdown > a:focus .caret {
  border-bottom-color: #FFFFFF;
  border-top-color: #FFFFFF;
}
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  background-color: rgba(255, 255, 255, 0);
  color: #FFFFFF;
  opacity: 1;
}
.navbar .label{
  background-color: #FF4C40;
  position: absolute;
  right: -10px;
  top: 0px;
  font-size: 10px;
  font-family: "Helvetica Neue";
  text-shadow: none;
}
.navbar-purple .label {
  background-color: #FFFFFF;
  color: #FF4C40;
}

.navbar:not(.navbar-transparent).navbar-purple {
  background-color: #4B2E83;
}

.dropdown-menu > li > a {
  padding: 8px 20px;
  color: #333333;
}
.dropdown-menu > li:first-child > a{
  border-radius: 10px 10px 0 0;
}
.dropdown-menu > li:last-child > a{
  border-bottom: 0 none;
  border-radius: 0 0 10px 10px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #F5F5F5;
  color: #333333;
  opacity: 1;
  text-decoration: none;
}
.navbar-toggle {
  border: 0;
}
.navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}
.navbar-collapse, .navbar-form {
  border-color: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgba(0,0,0,0);
}
@media (min-width: 768px) {
  .navbar-nav > li > .dropdown-menu {
    display: block;
    padding: 0;
    z-index: 9000;
    position: absolute;
    -webkit-border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    -webkit-filter: alpha(opacity=0);
    -moz-filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  }
  
  .navbar-nav > li.open > .dropdown-menu {
    -webkit-transform-origin: 29px -50px;
    -moz-transform-origin: 29px -50px;
    -o-transform-origin: 29px -50px;
    -ms-transform-origin: 29px -50px;
    transform-origin: 29px -50px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
  }
  
  .dropdown-menu:before {
    border-bottom: 11px solid rgba(0, 0, 0, 0.2);
    border-left: 11px solid rgba(0, 0, 0, 0);
    border-right: 11px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    right: 15px;
    top: -11px;
  }
  
  .dropdown-menu:after {
    border-bottom: 11px solid #FFFFFF;
    border-left: 11px solid rgba(0, 0, 0, 0);
    border-right: 11px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    right: 15px;
    top: -10px;
  }
  
}

@media (max-width: 768px) { 
  .navbar-transparent {
    padding-top: 15px;
    background-color: rgba(0, 0, 0, 0.45);
  }
  .navbar-transparent .navbar-nav .open .dropdown-menu > li > a:hover, 
  .navbar-transparent .navbar-nav .open .dropdown-menu > li > a:focus, 
  .navbar-transparent .dropdown-menu > li > a:hover,
  .navbar-transparent .dropdown-menu > li > a:focus,
  .navbar-purple .dropdown-menu > li > a:hover,
  .navbar-purple .dropdown-menu > li > a:focus {
    color: #FFFFFF;
    background-color: rgba(0,0,0,0);
    opacity: 1;
  }
  .navbar-transparent .navbar-nav .open .dropdown-menu > li > a,
  .navbar-purple .dropdown-menu > li > a {
    color: #FFFFFF;
    opacity: 0.8;
  }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: rgba(0,0,0,0);
    border-color: #428BCA;
  }
  .navbar-collapse{
    text-align: center;
  }
  .navbar-collapse .navbar-form {
    width: 170px;
    margin: 0 auto;
  }
}







.panel {
  position: relative;
  padding: 0 20px;
}
.panel h1 {
  text-align: center;
}
.panel p {
  font-size: 21px;
  color: #aeaeae;
}
.panel.dark {
  background-color: #f0f2f1;
}

.panel.skills {
  display: table;
  table-layout: fixed;
  height: 30vh;
  min-height: 400px;
  margin: 0 0 -10px 0;
  width: 100%;
  text-align: center;
}
.panel.skills h1 {
  font-family: 'Cantarell', sans-serif;
  font-size: 56px;
  font-weight: 400;
  color: #525252; 
}

.panel.announcements {
  display: table;
  table-layout: fixed;
  height: 30vh;
  min-height: 500px;
  margin: 0 0 -100px 0;
  width: 100%;
  text-align: center;
}
.panel.announcements .content {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding-bottom: 150px;
}
.panel.announcements h1 {
  font-family: 'Cantarell', sans-serif;
  font-size: 56px;
  font-weight: 400;
  color: #525252; 
}
.panel.announcements h1 + p {
  font-size: 28px;
  font-weight: 100;
  -webkit-font-smoothing: subpixel-antialiased;
}
.panel.announcements p.caption {
  color: #525252;
  font-size: 18px;
}
.panel.announcements .browser-window {
  display: block;
  margin: 2em auto 15px;
  width: auto;
  max-width: 800px;
}


.panel.features {
  padding: auto;
}
  .panel.features > h1,
  .panel.features > p {
    margin: 0 0 20px 0;
    text-align: center;
  }
  .panel.features .blocks {
    max-width: 1100px;
    background: #fff;
    margin: 50px auto;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }
    .panel.features .blocks .block {
      border-bottom: 1px solid #dbdcdb;
      height: 265px;
      overflow: hidden;
    }
      .panel.features .blocks .block:after {
        content: "";
        display: table;
        clear: both;
      }
      .panel.features .blocks .block .text {
        padding: 20px;
        width: 60%;
        float: left;
      }
        .panel.features .blocks .block .text h2 {
          font-family: 'Medula One', cursive;
          font-size: 40px;
          font-weight: 400;
          color: #525252; 
        }
        .panel.features .blocks .block .text a,
        .panel.features .blocks .block .text a:active, 
        .panel.features .blocks .block .text a:visited {
          border-bottom: dashed 1px #ccc;
          text-decoration: none;
          color: #4B2E83;
        }
        .panel.features .blocks .block .text a:hover {
          /* red */
          border-bottom: solid 1px #4B2E83;
          color: #4B2E83;
          text-decoration: none;
        }
      .panel.features .blocks .block .media {
        float: right;
        padding-top: 20px;
        width: 40%;
        overflow: hidden;
      }
        .panel.features .blocks .block .media .browser-window {
          width: 600px;
        }
      .panel.features .blocks .block.odd .text {
        padding: 20px 60px;
      }
      .panel.features .blocks .block.even .text {
        float: right;
      }
      .panel.features .blocks .block.even .media {
        float: left;
      }
        .panel.features .blocks .block.even .media .terminal-window {
          float: left;
          margin-left: -5px;
          width: 360px;
        }
          .panel.features .blocks .block.even .media .terminal-window pre[class*="language-"] {
            border-radius: 0;
            margin-top: 0;
          }
      .panel.features .blocks .block p {
        font-size: 14px;
        color: #80878c;
      }

    .panel.features .blocks .block-lg {
      border-bottom: 1px solid #dbdcdb;
      height: 500px;
      overflow: hidden;
    }
      .panel.features .blocks .block-lg:after {
        content: "";
        display: table;
        clear: both;
      }
      .panel.features .blocks .block-lg .text {
        padding: 20px;
        width: 60%;
        float: left;
      }
        .panel.features .blocks .block-lg .text h2 {
          font-family: 'Medula One', cursive;
          font-size: 40px;
          font-weight: 400;
          color: #525252;
        }
        .panel.features .blocks .block-lg .text a,
        .panel.features .blocks .block-lg .text a:active, 
        .panel.features .blocks .block-lg .text a:visited {
          border-bottom: dashed 1px #ccc;
          text-decoration: none;
          color: #4B2E83;
        }
        .panel.features .blocks .block-lg .text a:hover {
          /* red */
          border-bottom: solid 1px #4B2E83;
          color: #4B2E83;
          text-decoration: none;
        }
      .panel.features .blocks .block-lg .media {
        float: right;
        padding-top: 20px;
        width: 40%;
        overflow: hidden;
      }
        .panel.features .blocks .block-lg .media .browser-window {
          width: 600px;
        }
      .panel.features .blocks .block-lg.odd .text {
        padding: 20px 60px;
      }
      .panel.features .blocks .block-lg.even .text {
        float: right;
      }
      .panel.features .blocks .block-lg.even .media {
        float: left;
      }
        .panel.features .blocks .block-lg.even .media .terminal-window {
          float: left;
          margin-left: -5px;
          width: 360px;
          height: 600px;
        }
          .panel.features .blocks .block-lg.even .media .terminal-window pre[class*="language-"] {
            border-radius: 0;
            margin-top: 0;
          }
      .panel.features .blocks .block-lg p {
        color: #525252;
      }
.panel .browser-window,
.panel .terminal-window {
  overflow: hidden;
}
  .panel .browser-window pre[class*="language-"], .panel .browser-window .window-content,
  .panel .terminal-window pre[class*="language-"],
  .panel .terminal-window .window-content {
    overflow: hidden;
  }

@media (max-width: 980px) {
  .panel.features {
    padding: 75px 0;
  }
}

@media (max-width: 760px) {
  .panel.skills h1 {
    font-size: 42px;
    line-height: 1.2;
  }
    .panel.skills h1 + p {
      font-size: 21px;
    }
  .panel.announcements h1 {
    font-size: 42px;
    line-height: 1.2;
  }
    .panel.announcements h1 + p {
      font-size: 21px;
    }
  .panel.features .blocks .block .text {
    padding: 15px;
  }
    .panel.features .blocks .block .text p {
      margin-bottom: 0;
    }
  .panel.features .blocks .block-lg .text {
    padding: 15px;
  }
    .panel.features .blocks .block-lg .text p {
      margin-bottom: 0;
    }
}

@media (max-width: 620px) {
  .panel.skills .browser-window {
    width: 100%;
  }
  .panel.announcements .browser-window {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .panel.features .blocks .block {
    height: 410px;
  }
    .panel.features .blocks .block .text {
      width: 100%;
      float: none !important;
      display: block;
      padding: 5%;
    }
    .panel.features .blocks .block .media {
      float: none !important;
      display: block;
      width: 100%;
    }
      .panel.features .blocks .block .media .terminal-window,
      .panel.features .blocks .block .media .browser-window {
        width: 90% !important;
        margin: 0 5% !important;
        float: none !important;
      }
  .panel.features .blocks .block-lg {
    height: 800px;
  }
    .panel.features .blocks .block-lg .text {
      width: 100%;
      float: none !important;
      display: block;
      padding: 5%;
    }
    .panel.features .blocks .block-lg .media {
      float: none !important;
      display: block;
      width: 100%;
    }
      .panel.features .blocks .block-lg .media .terminal-window,
      .panel.features .blocks .block-lg .media .browser-window {
        width: 90% !important;
        margin: 0 5% !important;
        float: none !important;
      }
}

.browser-window,
.terminal-window {
  text-align: left;
  margin: 0px 20px;
  width: 602px;
  height: 355px;
  display: inline-block;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  overflow: overlay;
}
  .browser-window .top-bar,
  .terminal-window .top-bar {
    height: 30px;
    border-radius: 4px 4px 0 0;
    border-top: thin solid #eaeae9;
    border-bottom: thin solid #dfdfde;
    background: #ebebeb;
  }
  .browser-window .top-bar i,
  .terminal-window .top-bar i {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    float: left;
    margin: 9px;
    margin-right: 0;
  }
  .browser-window .top-bar i.red,
  .terminal-window .top-bar i.red {
    background-color: #ff5f57;
  }
  .browser-window .top-bar i.yellow,
  .terminal-window .top-bar i.yellow {
    background-color: #ffbd2e;
  }
  .browser-window .top-bar i.green,
  .terminal-window .top-bar i.green {
    background-color: #2ace42;
  }
  .browser-window .top-bar i.half-yellow,
  .terminal-window .top-bar i.half-yellow {
    margin-left: -1px;
    background-color: #ffbd2e;
  }
  .browser-window .top-bar span {
    text-align: center;
    max-width: 150px;
    margin: auto;
    display: block;
    font-family: Menlo;
    margin-top: 6px;
    font-size: 12px;
    color: #999;
  }
  .browser-window .window-content,
  .terminal-window .window-content {
    margin: 0;
    width: 100%;
    min-height: 90%;
    display: inline-block;
    border-radius: 0 0 4px 4px;
  }

.browser-window .window-content pre[class*="language-"] {
  background: #fff;
  margin: 0;
}

.announcement {
  width:90%;
  margin-left:auto;
  margin-right:auto;
}

.announcement {
  display: none;  /* Hide on load */
}
.announcement-btn-older:hover, 
.announcement-btn-newer:hover {
  cursor: pointer;
}
.announcement .pager > li > a{
  color: #3A2E83 !important;
}


ul.education {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.education li {
    position: relative;
    padding: 50px 15px 20px 15px;
    background-color: #fdfdfd;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 3px 3px -3px #ccc;
    box-shadow: 0px 3px 3px -3px #ccc;
    border-radius: 3px;
    margin-left: 10px;
    color: #333;
}
ul.education li .degree-year {
    position: absolute;
    top: 15px;
    left:-8px;
    border-radius: 3px;
    padding: 0;
    color: white;
}

ul.education li .degree-year span {
    padding: 7px 10px;
    line-height: 30px;
    margin: 0;
}

ul.education li .degree-year .degree {
    background-color: #8e44ad;
}

ul.education li .degree-year .year {
    background-color: #9b59b6;
    -webkit-box-shadow: -3px 0px 7px -3px rgba(68, 68, 68, 0.5);
    box-shadow: -3px 0px 7px -3px rgba(68, 68, 68, 0.5);
    margin-left: -2px !important;
}

ul.education li .description p {
  font-size: 16px;
  margin: 0;
}

ul.education li .description p.where {
  font-weight: 300;
  font-size: 14px;
}

ul.interests {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.interests li {
  padding: 7px;
  background-color: #fdfdfd;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 3px 3px -3px #ccc;
  box-shadow: 0px 3px 3px -3px #ccc;
  border-radius: 2px;
  border-left: 5px solid;
  border-left-color: #9b59b6;
}

/* entire container, keeps perspective */
.card-container {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  margin-bottom: 30px;
}
/* flip the pane when hovered */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}


.card-container.static:hover .card, 
.card-container.static.hover .card {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}
/* flip speed goes here */
.card {
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
  z-index: 3;
}


/*        Style       */
.card {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 4px;
  color: #444444;
}
.card-container,
.front,
.back {
  width: 100%;
  height: 245px;
  border-radius: 4px;
}
.card .cover{
  height: 215px;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}
.card .cover img{
  width: 100%;
}
.card .user{
  border-radius: 50%;
  display: block;
  height: 120px;
  margin: 60px auto;
  overflow: hidden;
  width: 120px;
}
.card .user img {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 4px solid #FFFFFF;
  width: 100%;
}

.card .back .browser-window {
  display: block;
  margin: 0vh auto;
  width: 100%;
  height: 100%;
}

/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .front, .back{
    -ms-backface-visibility: visible;    
    backface-visibility: visible;
  }
  
  .back {
    visibility: hidden;
    -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
  }
  .front{
    z-index: 4;
  }
  .card-container:not(.manual-flip):hover .back,
  .card-container.manual-flip.hover .back{
    z-index: 5;
    visibility: visible;
  }
}

footer.author {
    background: #fafafa;
    padding: 35px 20px;
    text-align: center;
}


@media (max-width: @screen-xs-min) {
  .modal-xs { width: @modal-sm; }
}