<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include blog-header.html %}
  
  <div class="profile-header text-center" style="background-image: url('{{"/assets/img/blog-bg.jpg" | prepend: baseurl }}');">  
    <div class="container-fluid">
      <div class="container-inner">
        <img class="avatar" src="{{"/assets/img/avatar.jpg" | prepend: baseurl }}">
        <h1 class="profile-header-blog">The Base</h1>
        <p class="profile-header-blog-desc">Things that came in my mind...</p>
        <ul class="social">
          <li><a href="https://www.linkedin.com/in/chenhuiwang"><i class="fa fa-linkedin-square"></i></a></li>
          <li><a href="https://github.com/morningfin"><i class="fa fa-github-square"></i></a></li>
          <li><a href="https://plus.google.com/113993011297240245203"><i class="fa fa-google-plus-square "></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <main class="content" id="main-docs">
    <h5 class="headline">
      <span>featured</span>
    </h5>
    <div class="container" style="width: 100%;">
      {{ content }}
    </div>
  </main>
  
  {% include footer.html %}

</body>

</html>
